{mb 'tou'}
<style type="text/css">
	.hon {
		color: red;
	}
	.show{display: block;}
	.hide{display: none;}
	#app{
		display: none;
	}
</style>
<div id="app">
<div class="m_top" style="background: #fff;">
	<a onclick="$z.go()" class="m_top_z" style="width: 10%;">
		<i class="back-ico"></i>
	</a>
	<div class="m_shou">
		<i class="icon-search"></i>		
		  <input type="text" class="cell-input" style="90%" placeholder="输入关键字" ref='so' @keyup.enter="So" />
		
	</div>
	<a class="m_top_y"  style="width: 10%;"></a>
</div>

<div id="shoushuo">
	<div class="fenkai">
		<a :class="[dian==1? 'bian' :'']" @click="PaiXuLeiXing(1)">
			<div class="fenkai_txt">综合</div>
		</a>
		<a :class="[dian==2? 'bian' :'']" @click="PaiXuLeiXing(2,'chushoushu DESC')">
			<div class="fenkai_txt">销量</div>
		</a>
		<a :class="[dian==3? 'bian' :'']" @click="PaiXuLeiXing(3,'jiage')">
			<div class="fenkai_txt" style="position: relative;">
				价格
				<div :class="[shangjiao==1? 'gaibian' :'']" class="jia_shan"></div>
				<div :class="[shangjiao==2? 'gaibian2' :'']" class="jia_xia"></div>
			</div>
		</a>
		<a   @click="SaiXuan">
			<div class="fenkai_txt">筛选<i class="icon-feedback"></i></div>
		</a>
	</div>

	<div style="background: #fff;" :class="kai?'show':'hide'">
		<div class="fenkai3">
			<a v-for="(ShaiXuan,index) in shaixuan" @click="Xuan(index)">{{ShaiXuan.txt}}<i ref="xuan"></i></a>
		</div>
		<div class="shaixuang">
			<div style="float: left;" @click="QuXiao">
				取消筛选
			</div>
			<div style="float: right;" @click="QueRen">
				确认
			</div>
		</div>

	</div>
	<section id="J_List" style="margin-bottom: 80px;">
		<div id="J_ListContent" class="m-list list-theme1" >
			    <a  class="list-item J_Link" :data-page="ye" v-for='(L,i) in lie'  @click="dakai(L.href)">
					<div class="list-img"><img :src="L.tu"></div>
					<div class="list-mes">
						<h3 class="list-title">{{L.ming}}</h3>
						<div class="list-mes-item">
							<div>
								<span class="list-price"><em>¥</em>{{L.jiage}}</span>
								<span class="list-del-price">{{L.yuanjia}}</span>
							</div>
							<i class="icon-shopcart" style="color: #ED5001;"></i>
						</div>
					</div>
				</a>
			</div>
	</section>
</div>
</div>
{mb js}
<script type="text/javascript">
var V=new Vue({
		el: "#app",
		data: {
			kai: false,
			dian: 1,
			shangjiao: "",
			shaixuan: [{txt: "推荐商品",biaoqian:'tuijian'}, {txt: "新品上市",biaoqian:'xinpin'}, {txt: "热卖商品",biaoqian:'remai'}, {txt: "卖家包邮",biaoqian:'baoyou'}, {txt: "限时抢购",biaoqian:'miaosha'}, {txt: "促销商品",biaoqian:'cuxiao'}],
			activeColor: "transparent transparent #FF0005 transparent",
			activeColor2: "#eee transparent transparent  transparent",
			lie:[],
			paixu:'',
			ye:1,
			biaoqian:[]
		},
		methods: {
		    PaiXuLeiXing:function(i,paixu){	
		    	if(this.dian==i && paixu!='jiage'){
		    		return false;
		    	}
		    	this.lie=[];
		    	this.dian = i;
		    	this.paixu=paixu;
		    	if(paixu=='jiage'){
		    		this.shangjiao=(this.shangjiao == 1)?2:1;
		    		this.paixu=(this.shangjiao == 1)?'jiage DESC':'jiage ASC';
		    	}		    	
		    	this.ye=1;
		    	$z.jiazai_mei(true);
 				$z.jiazai_chushihUX();
 				this.kai = false;
		    },
			SaiXuan: function() {				
				this.kai = !this.kai;
			},
			QuXiao: function() {
				this.kai = false;
				for(var i in this.$refs.xuan){
					this.$delete(this.biaoqian,this.shaixuan[i]['biaoqian']);					
				}
				this.ye=1;
		    	$z.jiazai_mei(true);
 				$z.jiazai_chushihUX();				
			},
			QueRen: function() {
				this.kai = false;
				for(var i in this.$refs.xuan){
					if(this.$refs.xuan[i].className == "icon-checkoff hon") {
					    this.biaoqian[this.shaixuan[i]['biaoqian']]=1;
					}else{
						this.$delete(this.biaoqian,this.shaixuan[i]['biaoqian']);
					}
				}			
				this.ye=1;
		    	$z.jiazai_mei(true);
 				$z.jiazai_chushihUX();
			},
			Xuan: function(index) {
				if(this.$refs.xuan[index].className == "icon-checkoff hon") {
					this.$refs.xuan[index].removeAttribute("class");
				} else {
					this.$refs.xuan[index].className = "icon-checkoff hon";
				}
			},
            JiaZai:function(shu){              
                var l1=this.lie.length;              
            	for(var i=0;i<shu.length;i++){
            		this.$set(this.lie,l1++,shu[i]);
            	}           	
            },
            So:function(){
            	this.lie=[];
            	this.sosuo=this.$refs.so.value;   
            	this.ye=1;
		    	$z.jiazai_mei(true);
 				$z.jiazai_chushihUX();
            },
            dakai:function(href){
            	$z.dakai(href);
            }
		},
	});
	
$z.jiazai('',function(){ 
	var shu={paixu:V.paixu,ye:V.ye};
	if(V.biaoqian){
		for(var i in V.biaoqian){
			shu[i]=1;
		}
	}
	if(V.sosuo){
		shu['so']=V.sosuo;
	}
	$z.post('{$_W["url"]}',shu,function(ret){
		if(ret.shi){
			V.JiaZai(ret.shu.shangpinlie);				
		}else{			
			$z.jiazai_mei(false);
		}
        V.ye++;
		$("#app").show();
    });
},1);
		
</script>

{mb jiao}