
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494482857521'); /* IE9*/
  src: url('iconfont.eot?t=1494482857521#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494482857521') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494482857521') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494482857521#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before { content: "\e614"; }

.icon-xingxing:before { content: "\e62d"; }

.icon-gouwuchexiantiao:before { content: "\e6b6"; }

.icon-wode:before { content: "\e615"; }

.icon-jia:before { content: "\e620"; }

.icon-close:before { content: "\e612"; }

.icon-xingxing1:before { content: "\e60f"; }

.icon-shouyeshouye2:before { content: "\e628"; }

.icon-pinglun:before { content: "\e676"; }

.icon-zan:before { content: "\e600"; }

