{mb 'tou'}
<style type="text/css">
	#VUE{
		display: none;
	}
   
</style>
<header class="m-navbar">
	<a onclick="$z.go()" class="navbar-item">
		<i class="back-ico"></i>
	</a>
	<div class="navbar-center">
		我的订单
	</div>

</header>
<div class="m-tab" id='VUE' data-ydui-tab>
	<ul class="tab-nav">
		<li :class="[(active==0)?'tab-active':'','tab-nav-item']"  @click="tab('quanbu')">
			<a href="javascript:;">全部</a>
		</li>
		<li :class="[(active==1)?'tab-active':'','tab-nav-item']" @click="tab(0)">
			<a href="javascript:;">待付款</a>
		</li>
		<li :class="[(active==2)?'tab-active':'','tab-nav-item']"  @click="tab(10)">
			<a href="javascript:;">待发货</a>
		</li>
		<li :class="[(active==3)?'tab-active':'','tab-nav-item']" @click="tab(20)">
			<a href="javascript:;">待收货</a>
		</li>
		<li :class="[(active==4)?'tab-active':'','tab-nav-item']"  @click="tab(30)">
			<a href="javascript:;">已完成</a>
		</li>
	</ul>
	<div class="tab-panel" id='APP' style="background: #eee;">
		        <div :class="(active==index)?'tab-panel-item tab-active':'tab-panel-item'"  v-for="(A,index) in ALL">
			        <div v-for="(L,i) in A" style="padding-bottom:.25rem;margin-top:.1rem;background: #fff;">			        	
			        	<a :href="'{php echo UXK('dingdan/dingdanxiangqing')}&id='+L.id">
						    <div class="dai_t">
								<img src="../gongyong/images/icon-dianpu.png" /> 
								<span>订单号：{{L.dingdanhao}}</span>
								<div class="dai_t_r">{{L.zhuangtai_wenzi}}</div>
							</div>
					        <div class="df_zhon" v-for="s in L.dingdan_shangpin">
						        <img :src="s.tu" />
						        <div class="df_xian">
							        <h2>{{s.ming}}</h2>
									<h3><span >￥</span>{{s.jiage}}</h3>															
									<h4>x{{s.shuliang}}</h4>
								</div>
							</div>
				        	<div class="heji" style="padding-right: .3rem;">
				        		共件商品，合计：￥<span>{{L.zongjia}}</span>
				        	</div>
				        </a>			        	
				        	<div class="df_di">
				        		<a class="btn btn-hollow"  style="float: left;" :href="maijiahaoma">联系卖家</a>	
				        		<div v-if='L.zhuangtai==5 || L.zhuangtai==40'>
					        		<div class="btn btn-danger" style="float: right;" onclick="$z.dakai('{php echo UXK('index')}')">再次购买</div>	
				        		</div>
				        		<div v-else-if='L.zhuangtai==6'>					        			        		
					        		<div class="btn btn-danger" style="float: right;">退款中</div>		
				        		</div>
				        		<div v-else-if='L.zhuangtai==7' >					        			        		
					        		<div class="btn btn-danger" style="float: right;" >已退款</div>		
				        		</div>
				        		<div v-else-if='L.zhuangtai==10'>	
				        			<div class="btn btn-hollow" style="float: right;margin-left: 15px;"  @click="Cao(i,'tuikuan',L.id)">申请退款</div>
					        		<div class="btn btn-danger" style="float: right;" @click="Cao(i,'hexiao',L.id)">核销二维码</div>						        	
				        		</div>
				        		<div v-else-if='L.zhuangtai==20'>				        		  
				        			<div class="btn btn-hollow" style="float: right;margin-left: 15px;" @click="Cao(i,'wuliu',L.id)">查看物流</div>
					        		<div class="btn btn-danger" style="float: right;" @click="Cao(i,'shouhuo',L.id)">确认收货</div>	
					        		
				        		</div>
				        		<div v-else-if='L.zhuangtai==25'>			        			
					        		<div class="btn btn-danger" style="float: right;">退换货中</div>		
				        		</div>
				        		<div v-else-if='L.zhuangtai==30'>			        			
					        		<div class="btn btn-danger" style="float: right;"><a :href="maijiahaoma">退换货</a></div>
					        		<!--<div class="btn btn-hollow" style="float: right;margin-left: 15px;">评论</div>-->
				        		</div>				        		
				        		<div v-else>
					        		<div class="btn btn-hollow" style="float: right;margin-left: 15px;" @click="Cao(i,'quxiao',L.id)">取消订单</div>			        		
					        		<div class="btn btn-danger" style="float: right;" @click="Cao(i,'fukuan',L.id)">付款</div>		
				        		</div>
				        	</div>
		        	</div> 		        
		        </div>	        
		</div>
</div>
{mb js}
 <script type="text/javascript">		 		 	
 	var V=new Vue({
 		el:"#VUE",
 		data:{
 			ALL:[{},{},{},{},{}],
 			active:1,
 			ye:1,
 			y:[],
 			z:[true,true,true,true,true],
 			zhuangtai:0,
 			maijiahaoma:''
 		},
 		methods:{
 			JiaZai:function(shu,zhuangtai){	 			
 				if(zhuangtai=='quanbu'){
 				   this.active=0; 				
 				}else if(zhuangtai==10){
 				   this.active=2; 				
 				}else if(zhuangtai==20){
 				   this.active=3; 				
 				}else if(zhuangtai==30){
 				   this.active=4; 				
 				}else{
 				   this.active=1; 				  
 				} 
 				var u=this.ye*100;
 				for(var i=0;i<shu.length;i++){
 					u=Number(u)+Number(i);
 					this.$set(this.ALL[this.active],u,shu[i]);
 				}
 				  
 			},
 			
 			tab:function(zhuangtai){  
 				this.zhuangtai=zhuangtai;
 				if(!this.y[zhuangtai]){
 					this.ye=1;
 					$z.jiazai_mei(true);
 					$z.jiazai_chushihUX();
 				}else{ 					
 					$z.jiazai_mei(this.z[zhuangtai]);
 				}
 				
 			},
 			Cao:function(i,c,dingdanid){
 				var url;
 				var that=this;
 				if(c=='wuliu'){
 					url="{php echo UXK('dingdan/kuaidixiangqing')}&dingdanid="+dingdanid;
 					$z.dakai(url);
 				}else if(c=='fukuan'){
 					url="{php echo UXK('dingdan/zhifu')}&dingdanid="+dingdanid;
 					$z.dakai(url);
 				}else if(c=='hexiao'){
 					url="{php echo UXK('dingdan/dingdanxiangqing')}&hexiao=1&id="+dingdanid;
 					$z.dakai(url);
 				}else{
 					url="{php echo UXK('dingdan/dingdan')}"; 			    
	 			    $z.post(url,{c:c,dingdanid:dingdanid},function(s){
	 			    	$z.toast(s.shu);
	 			    	if(s){	 			    		
	 			    		that.$delete(that.ALL[that.active],i);
	 			    	}
	 			    	
	 			    });
 					
 				}				
 			}
 		},
 		created:function(){
 			var z=[];
 			    z['quanbu']=[0,'quanbu'];z['daifu']=[1,0];z['daifa']=[2,10];z['daishou']=[3,20];z['wangcheng']=[4,30];
 		    var zt=z['{php echo $_J["zhuangtai"]?$_J["zhuangtai"]:"daifu"}']; 		 
   			this.active=zt[0];
   			this.zhuangtai=zt[1];
 		}
 	});	
$z.jiazai('',function(){
    var zhuangtai=V.zhuangtai;
	var ye=V.ye;
	$z.post('{$_W["url"]}',{zhuangtai:zhuangtai,ye:ye,jitiao:4},function(ret){
		if(ret.shi){
			V.JiaZai(ret.shu.dingdan,zhuangtai);	
			V.maijiahaoma="tel:"+ret.shu.maijiahaoma;
		}else{
			V.z[zhuangtai]=false;
			$z.jiazai_mei(false);
		}
        V.ye++;
		V.y[zhuangtai]=V.ye;
		$('#VUE').show();
    });
},1);
</script>
{mb jiao}