{mb 'tou'}
<style>
.checkbox +.checkbox_icon:after {
    font-family: 'YDUI-INLAY';
    font-size: .44rem;
    content: '\e604';
    color: #D9D9D9;
}

.checked +.checkbox_icon:after{
	content: '\e601';
	color: #ff8300;
}
#shouchan{
	display: none;
}
</style>
	<div id="shouchan">
		<header class="m-navbar" >
		    <a  class="navbar-item" onclick="$z.go()">
		        <i class="back-ico"></i>
		    </a>
		    <div class="navbar-center">
		   		   购物袋	
		    </div>
		    <a  class="navbar-item" @click="bianji" v-text="bian.txt"></a>
		</header>
			<div class="gouwu-t">
				<img src="http://test.heodo.com/gongyong/images/icon-dianpu.png">
				{{ming}}
			</div>
			<label class="cell-item shouchan" v-for="(L,index) in lie" >				
		        <span class="cell-left shou_z"  style="width: 85%;">
		        	<img :src="L.tu" />
		        	<div class="shou_name">
		        		{{L.ming}}<font color="red" v-if='!L.zhuangtai'> (库存不足已删除)</font>
		        	</div>
		        	<div class="shou_jia">
		        		￥<span :jiage='L.jiage' ref="jiage">{{L.jiage}}</span>
		        	</div>
		        	<span class="m-spinner" data-ydui-spinner="{input: '.J_Input', add: '.J_Add', minus: '.J_Del'}" style="margin-left: 1.4rem;margin-top: .6rem;">
					    <a  class="J_Del" @click="geshu(index,'jian')"></a>
					    <input type="text"  class="J_Input" :value="L.shuliang" ref='SL' :gid='L.id'/>
					    <a  class="J_Add"  @click="geshu(index,'jia')" ></a>
					</span>
		        </span>				
		        <label class="cell-right" v-if='L.zhuangtai'>
		            <input type="checkbox" @click="Xuan(index)" ref='xuan' class="checkbox checked" checked="checked" />		           
		            <i class="checkbox_icon"></i>
		        </label>
		         <label class="cell-right" v-else>		          
		            <input type="checkbox" class="checkbox" ref='xuan' disabled="disabled"/>		                     
		        </label>
		    </label>
	    <div class="dibu shang_di" >			
			<label class="cell-right" style="padding-right:0px;position: relative;width: 35%;">								
	            <input  class="shoudi checkbox checked" type="checkbox" ref='quanxuan' @click="QuanXuan" checked="checked" />
	            <i class="checkbox_icon shoudi"></i>
	            <span class="shouzhi">全选</span>				
		    </label>
		    <div style="position: absolute;right:0px;bottom: 0px;width: 65%;">
				<a v-if="bian.jie" class="dibu_d" style="background:#ff3918;width: 35%;float: right;" @click="ShanChu">删除</a>
		        <div class="jieshuan" v-else>
		        	<div class="jieshuan-t">合计：<span >￥{{zongjia}}</span></div>
		        	<p class="jieshuan-b">不含运费</p>
		        	<a class="dibu_d" style="background:#ff3918;width: 78%;float: right;" @click="JieSuan">结算</a>
		    	</div>
		     </div>
		</div>
		</div>
{mb js}
<script type="text/javascript">

new Vue({
	el:"#shouchan",
	data:{
		lie:[],
  		bian:{"jie":false,"txt":"编辑"},
  		zongjia:0,ming:''
	},
	methods:{
		QuanXuan:function(){			
			var x=this.$refs.xuan;
			var checked=this.$refs.quanxuan.getAttribute('checked');
			if(!checked){
				this.$refs.quanxuan.setAttribute('checked','checked');
				this.$refs.quanxuan.setAttribute('class','shoudi checkbox checked');
			}else{				
				this.$refs.quanxuan.removeAttribute('checked');
				this.$refs.quanxuan.setAttribute('class','shoudi checkbox');
			}
			for(i in x){
				var disabled= this.$refs.xuan[i].getAttribute('disabled');	
				if(checked){
			        this.$refs.xuan[i].removeAttribute('checked','checked');	
			        this.$refs.xuan[i].setAttribute('class','checkbox');
			    }else if(!disabled){
			    	this.$refs.xuan[i].setAttribute('checked','checked');
			    	this.$refs.xuan[i].setAttribute('class','checkbox checked');
			    }
			}
			this.zongji();
		},
		Xuan:function(index){
			var checked=this.$refs.xuan[index].getAttribute('checked');
			if(checked){
				this.$refs.xuan[index].removeAttribute('checked');
				this.$refs.xuan[index].setAttribute('class','checkbox');				
			}else{
				this.$refs.xuan[index].setAttribute('checked','checked');
				this.$refs.xuan[index].setAttribute('class','checkbox checked');
			}
			var x=this.$refs.xuan;
			var all=true;
			for(i in x){
				var c=this.$refs.xuan[i].getAttribute('checked');
				if(!c && all){
			       all=false;
			    }
			}			
			if(all){
				this.$refs.quanxuan.setAttribute('checked','checked');
				this.$refs.quanxuan.setAttribute('class','shoudi checkbox checked');
			}else{				
				this.$refs.quanxuan.removeAttribute('checked');
				this.$refs.quanxuan.setAttribute('class','shoudi checkbox');
			}
			this.zongji();
		},
		bianji:function(){
			this.bian.jie=!this.bian.jie;
			if (this.bian.jie) {
				this.bian.txt="完成";
				var x=this.$refs.xuan;				
				for(i in x){					
					this.$refs.xuan[i].removeAttribute('checked','checked');	
			        this.$refs.xuan[i].setAttribute('class','checkbox');			      
				}
				this.$refs.quanxuan.removeAttribute('checked');
				this.$refs.quanxuan.setAttribute('class','shoudi checkbox');
			} else{				
				this.bian.txt="编辑";
				var x=this.$refs.xuan;				
				for(i in x){
					this.$refs.xuan[i].setAttribute('checked','checked');
			    	this.$refs.xuan[i].setAttribute('class','checkbox checked');
			    	
				}
				this.$refs.quanxuan.setAttribute('checked','checked');
				this.$refs.quanxuan.setAttribute('class','shoudi checkbox checked');
			}
			this.zongji();
		},
		geshu:function(index,jia_jian){	
			var that=this;
			var zhi=that.$refs.SL[index].value;
			var yuanzhi=zhi;
			var id=that.$refs.SL[index].getAttribute('gid');
			if(jia_jian=='jia'){
				zhi++;	
				that.lie[index].shuliang=zhi;
			}else if(jia_jian=='jian'){
				zhi--;	
				if(zhi<1){
				   $z.toast('至少购买一件！');	
				   return false;
				}
				that.lie[index].shuliang=zhi;    
			}					
			$z.post("{php echo UXK('dingdan/gouwuche')}",{kucun:zhi,id:id,c:jia_jian},function(shu){
			    if(!shu.shi){						    
			    	that.lie[index].shuliang=yuanzhi;
			    	$z.toast(shu.shu);
			    }
			});	
						
		},
		zongji:function(){
			var x=this.$refs.xuan;	
			var zongjia=0;	
			var ids=[];
			var ids_No=[];
			for(i in x){
				var c=this.$refs.xuan[i].getAttribute('checked');
				if(c){
					var z=this.$refs.jiage[i].getAttribute('jiage');
					var sl=this.$refs.SL[i].value;
					zongjia=Number(zongjia)+Number(z)*Number(sl);	
					ids[i]=this.$refs.SL[i].getAttribute('gid');
				}else{
					ids_No[i]=i;
				}
			}
			this.zongjia=zongjia.toFixed(2);
			this.ids=ids;
			this.ids_No=ids_No;
		},
		ShanChu:function(){
			if(!this.ids){			 
			   return false;
			}
			var sp=[];
			var lie=this.lie;
			var a=0;
			for(i in this.ids_No){					
			      sp[a++]=lie[i];	
			}		
			this.lie=sp;
			$z.post("{php echo UXK('dingdan/gouwuche')}",{c:'shanchu',ids:this.ids},function(s){
				 $z.toast(s.shu);
			});
			
		},
		JieSuan:function(){
			var ids='&ids=';
			for(i in this.ids){					
			      ids+='_'+this.ids[i];	
			}	
		    $z.dakai('{php echo UXK("dingdan/querendingdan")}'+ids);
		}
	},
	beforeCreate:function(){
		var that=this;
		$z.post("{$_W['url']}",function(shu){	
			console.log(shu);
			if(shu.shi==1){			
				that.lie=shu.shu.lie;			
			}else{				
				$z.toast(shu.shu);
			}
			that.ming=shu.shu.ming;
			$("#shouchan").show();
		});		
	},	
	updated:function(){
		this.zongji();		
	},
	
	
});

</script>

{mb jiao}

	
